body{
	background-image: url("background.jpg");
	background-size: cover;
	font-family: "Trebuchet MS";
}
.contenitore{
	width: 880px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	background-color: #0909098c;
	padding-bottom: 75px;
	border-radius: 13px;
}
img{
	width: 180px;
	margin-top: 100px;

}
header > h2{
	color: #00dd00;
}
.nav{
	width: 750px;
	background-color: #00dd00;
	display: inline-block;
	padding-top:13px; 
	padding-bottom:13px; 
}
main{
	margin-left: 65px; /*(880-750)/2*/
	text-align: left;
	color: white;
}
h3{
	display: inline-block;
	color: white;
	margin-bottom: 3px;
}
.add:before{
	content: '\21A6';

}
.bar1{
	width: 270px;
	background-color: #df9417;
	color: #df9417;
}
.bar2{
	width: 470px;
	background-color: #31a736;
	color: #31a736;
}
.bar3{
	width: 130px;
	background-color: #b7384d;
	color: #b7384d;
}
.bar1, .bar2, .bar3{

	display: inline-block;
	margin-top: 2px;
	border-radius: 3px;
}